h2 {
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: 0.3em;
}

h3 {
  font-weight: normal;
  margin: 0 0 0.3em 0;
}

p {
  margin: 0;
}

.wrap {
  white-space: pre-wrap;
}

.indent {
  border-left: 2px solid black;
  padding-left: 0.5em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  height: 3em;
  width: 100vw;
  display: flex;
  top: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.header-container .header-text {
  font-family: sans-serif;
  text-align: left;
  font-size: 1.8em;
  padding-left: 0.5em;
}

.header-container .user-preview {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.header-container .user-img {
  padding-left: 1em;
  height: 1.5em;
  width: 1.5em;
}

.header-container .user-name {
  padding-bottom: 0.2em;
}

.header-container .user-container {
  position: absolute;
  top: 4em;
  right: 0px;
  width: 50%;
  /* background-color: #dddddd; */
  border: 1px solid black;
  padding: 0.5em;
}

.header-container .user-container::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 90%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid black;
}

button {
  background-color: white;
  color: black;
  padding: 0.5em 2em;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  font-size: 0.9em;
}

button + img.loading-icon {
  position: absolute;
  right: 5em;
  padding-top: 0.4em;
  width: 1.5em;
  height: 1.5em;
}

h2 + button {
  position: relative;
  width: 0;
  height: 0;
  padding: 0;
  left: 95%;
  bottom: 2.5em;
  border: none;
  display: flex;
}

h2 + button img {
  border: 2px solid black;
  border-radius: 0.7em;
}

.main-container {
  padding: 1em;
}

.radio-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.radio-input input[type="radio"]:checked + div {
  font-weight: bold;
}

p.small {
  font-size: 0.5em;
  margin: 0px;
}

input {
  width: 100%;
  size: 1em;
  padding: 0.5em;
  border-radius: 3px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 1em;
}

input + label {
  position: absolute;
  right: 1.6em;
  padding-top: 0.15em;
}

input:focus {
  border: 1px solid #ff9900;
  outline: 0;
}

input.failed {
  border: 2px solid red;
  background-color: pink;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 4em;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
  border-radius: 3px;
}

textarea.failed {
  border: 2px solid red;
  background-color: pink;
}

textarea + div.length-limit {
  position: relative;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  padding-right: 0.6em;
  bottom: 2em;
  height: 0px;
}

.tag-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.tag-list .tag-container {
  border: 1px solid black;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0.5em;
}

.tag-list .tag-container .tag-name {
  font-size: 1.2em;
  width: 100%;
  padding-left: 1em;
}

.tag-list .tag-container .tag-icon {
  width: 2em;
  height: 2em; 
}

.board-container {
  margin-bottom: 2em;
  color: inherit;
  text-decoration: none;
  display: block;
}

.board-container h3 {
  text-decoration: underline;
  font-size: 1em;
}

.board-container p {
  max-height: 4.2em;
  text-overflow: ellipsis;
  font-size: 0.7em;
  overflow: hidden;
}
